.sidebar {
    margin-top: 40px;
  background-color: #1e1e2f;
  color: white;
  height: 100vh;
  width: 220px;
  transition: width 0.3s ease;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sidebar.collapsed {
  width: 70px;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.toggle-btn {
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.menu {
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
}

.menu-item:hover {
  background-color: #2d2d44;
}

.icon {
  font-size: 20px;
  margin-right: 15px;
}

.sidebar.collapsed .icon {
  margin-right: 0;
  text-align: center;
  width: 100%;
}
