.hero-section {
    
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* position: relative; */
  margin-top: 0;
  /* align-items: center; */
  justify-content: space-between;
  padding: 2rem;
  background-image: url("../../assets/Brand.jpg");
  background-size: cover;
  /* background-color: #fefefe; */
  background-color: palegoldenrod;
}

.hero-content {
  flex: 1;
  min-width: 300px;
  padding: 1rem;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}

.hero-content p {
  font-size: 1.2rem;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-weight: 800;
  margin-bottom: 1.5rem;
  color: brown;
}

.cta-button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #8b4513; /* dark brown */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #a0522d;
}

.hero-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}
