/*style.css*/
body {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh; 
    background: #f3f3f3;
    flex-direction: column;
     margin: 0;
}
.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
      background: #f3f3f3;
    /* background-color: #4CAF50; */
}
.role{
    display: flex;
    justify-content: center;
   /* background-color: ; */
}
.role select{
    border-radius: 2px;
    padding: 2px;
    outline: none;
    box-shadow: #555;
    border: none;
    /* background-color: red; */
}
.main {
    /* background-color: red; */
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color: #4CAF50;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 16px;
}


.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap button{
     width: 100%;
            padding: 10px;
             background-color: #5cb85c; 
            border: none;
            color: white;
            border-radius: 4px;
            cursor: pointer;
}